services:
  - type: web
    name: moz-battlegrounds
    runtime: node
    plan: free
    buildCommand: npm ci --include=dev && npm run build-prod && npm run build:server
    startCommand: npm run start:render
    healthCheckPath: /api/env
    envVars:
      - key: GAME_ENV
        value: render
      - key: NODE_ENV
        value: production
