.l-header {
  background: var(--boxBackgroundColor);
  backdrop-filter: blur(var(--blur-md));
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 24px;

  @media (min-width: 800px) {
    padding: 24px 24px;
  }
}

.l-header__content {
  display: flex;
  flex: 1;
  max-width: 900px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.l-header__logo {
  max-width: 750px;
  fill: url(#logo-gradient);
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
}

.l-header__highlightText {
  color: var(--primaryColor);
  font-weight: 700;
  font-size: 14px;
  margin-top: 4px;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
}
