:root {
  --theme: "light";
  --breakPoint-tablet: 800px;
  --breakPoint-Desktop: 1024px;
  --blur-md: 4px;
  --boxBackgroundColor: #111827cc;
  --fontColor: #202020;
  --fontColorLight: #fff;
  --primaryColor: #1e5aa8;
  --primaryColorHover: #174785;
  --primaryColorDisabled: linear-gradient(
    to right,
    rgba(30, 90, 168, 0.7),
    rgba(23, 71, 133, 0.7)
  );
  --secondaryColor: #27ae60;
  --secondaryColorHover: #1e8449;
  --transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  --primaryColorDark: #1e5aa8;
  --primaryColorHoverDark: #174785;
  --primaryColorDisabledDark: rgba(30, 90, 168, 0.5);
  --secondaryColorDark: #27ae60;
  --secondaryColorHoverDark: #1e8449;
  --fontColorDark: #f3f4f6;
}
